*{
    background-color: black;
}
h1{
    text-align: center;
}

div{
    display: inline-block;
    background-color:red ;
    height: 500px;
    width: 500px;
    margin: 50px;
    padding: 25px;
}
#a2{
    display: none;
}
#a3{
    background-color: rgba(255, 0, 0, 0.5);
    background-image: url(james.jpg);
    background-size: cover;
}
#a4{
    background-image: url(Kitae.jpg);
    background-size: cover;
}
#a1{
    background-image: url(goo.jpg);
    background-size: cover;
}
#a5{
    background-image: url(gun.jpg);
    background-size: cover;
}