*{
    font-family: 'Times New Roman', Times, serif;
    padding: 0px;
    margin: 0px;
}

h1{
    text-align: center;
    text-transform: uppercase;
}
#inner {
    font-size: 10px;

}
#outer {
    font-size: 25px;

}
#green{
    width: 100px;
    height:100px;
    background-color: green;
    border-radius: 50%;    
}
#navbar {
    background-color: black;
    height: 60px;
}

#navbar a {
    color: white;
    text-decoration: none;
}

#Logo {
    color: green !important;
    font-size: 25px;
}
#search{
    background-color: #f08804;
}
a {
    margin-right: 200px;
    text-decoration: none;
}
.contentbox{
    height: 210px;
    width: 1517.5px;
    border: 2px solid black;
    display: inline-block; 
}
#content{
    height: 640px;
}
footer{
    text-align: center;
    background-color: black;
    color: white;
}