*{
    color:rgb(0, 0, 0);
}
h1{
    color: red;
    text-align: center;
}
p{
    color: blue;
}
button{
    background-color:black;
    color:white;
}
body{
    background-color:rgb(239, 191, 198)
}
h2{
    color:#ffff00;
}
#heading2 {
    color:antiquewhite;
}
.heading3 {
    color:rgb(255, 0, 255);
    text-align: center;
    text-decoration: green wavy underline;
    font-weight: 900;
}
#box{
    background-color: blueviolet;
    color: aquamarine;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 40px;
    text-transform: capitalize;
}
a{
    text-decoration: none;
    color:black;
    background-color: blanchedalmond;
}

/* mdn website to learn about css and html and javascript and other web development languages*/
/* color palette and coolor website for color inspiration*/
